# Manipulación Basica de nuestro DataFrame
------------------------

En esta sección aprenderemos a manipular nuestro dataframe con el fin de poder crear automatizaciones sobre nuestros datos

In [1]:
# Para esta seccion iniciaremos cargando nuestra data

import pandas as pd

df = pd.read_csv('./src/winemag-data-130k-v2.csv')
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [2]:
df.shape

(65499, 14)

## 1. Manipulación Basica de nuestro DataFrame

### 1.1 Seleccion de Columnas

In [3]:
df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [5]:
# Seleccion de una columna
df['country'].head()

0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object

In [6]:
# tambien es posible la seleccion de este modo
df.country.head()

0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object

In [7]:
# Selección de múltiples columnas

# emplearemos una lista
columns_select = ['country','province']
df_subset = df[columns_select]
df_subset.head()

    country           province
0     Italy  Sicily & Sardinia
1  Portugal              Douro
2        US             Oregon
3        US           Michigan
4        US             Oregon

In [8]:
# renombrado de columnas

# {'old_colname': 'new_colname'}
df_rename = df.rename(columns={'Unnamed: 0': 'index'})
df_rename.head()

,index,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [9]:
# Eliminando columna
df_drop= df_rename.drop(['index'], axis=1)

df_drop.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [11]:
df_rename.head(1)

,index,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [13]:
# df_rename= df_rename.drop(['index'], axis=1)
# axis =1 para borrar columnas
df_rename.drop(['index'], axis=1, inplace=True)

In [14]:
df_rename.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

### 1.2 Aplicando Filtros

Podemos filtrar un dataframe mediante condiciones booleanas sobre columnas

In [15]:
# condicion -> se encarga de establecer la condicion de Verdad o Falsedad 
condicion = df_rename['country'] == 'Italy'
condicion.head()

0     True
1    False
2    False
3    False
4    False
Name: country, dtype: bool

In [16]:
# usando la condicion como filtro
df_filter = df_rename[condicion]
df_filter.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo

In [17]:
df_filter.shape

(10005, 13)

In [18]:
# método unique me brinda valores únicos de columna
df_rename.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

podemos concatenar varias condiciones usando `&` para **AND** ,  `|` para **OR** y `~` como **NOT** o negacion.

Tambien debemos recordar los operadores: `==` , `!=` , `>`, `<` , `>=` , `<=`


EL carácter `~` se obtiene mediante ALT+126

In [23]:
condicion  = (df_rename.country=="Italy") & (df_rename.points>=90)
df_filter2 = df_rename[condicion]
df_filter2.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto

In [24]:
df_filter2.shape

(3479, 13)

In [26]:
# método 'unique' -> permite obtener valores unicos de una columna

df_filter2.country.unique()

array(['Italy'], dtype=object)

In [28]:
# valores únicos de columnas
df_var = df_filter2[['winery','variety']].drop_duplicates(subset=['winery','variety'])
df_var

                     winery            variety
120                 Ceretto           Nebbiolo
133    Poderi Luigi Einaudi           Nebbiolo
135         Giacomo Ascheri           Nebbiolo
140            Poderi Colla            Barbera
158    Castello di Gabbiano         Sangiovese
...                     ...                ...
65093                Destro  Nerello Mascalese
65203             La Rasina  Sangiovese Grosso
65204  Loacker Corte Pavone  Sangiovese Grosso
65216  Poggio il Castellare  Sangiovese Grosso
65399     Fattoria Nittardi          Red Blend

[1655 rows x 2 columns]

Para ver más formas de filtrado [ver](https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9)

### 1.3 Aplicación de lógicas a nuestros DataFrame

Podemos aplicar lógicas o añadir constantes a nuestros dataFrames.

In [29]:
df_rename.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [30]:
# se pueden realizar operaciones básicas a columnas aplicando lógicas
# Generacion de constantes

df_rename['ajuste_precio'] = 1.2
df_rename.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,ajuste_precio
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1.2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1.2
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,1.2
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,1.2
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.2

In [31]:
# Operaciones como suma , resta, multiplicacion de columnas son validas
df_rename['new_price'] = df_rename.price * df_rename.ajuste_precio
df_rename.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,ajuste_precio,new_price
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1.2,NaN
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1.2,18.0
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,1.2,16.8

podemos usar `apply` en una columna para obtener una nueva columna en función de sus valores

In [32]:
# df_rename.price.unique()

# Según el precio de la botella de vino aplicar una etiqueta
# Si precio <100 -> Precio accesible
# SI precio >=100 and precio <=500 -> 'vino es moderadamente costoso'
# Si precio >500 -> 'muy caro'

def etiqueta_precio(precio:float):

    if precio<100:
        return 'Precio accesible'
    elif precio <=500 and precio >=100:
        return 'Precio moderadamente alto'
    elif precio >500:
        return 'Precio muy caro'
    else:
        return None

etiqueta_precio(1500)

'Precio muy caro'

In [33]:
df_rename['etiqueta_costo'] = df_rename.price.apply(etiqueta_precio)

df_rename.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,ajuste_precio,new_price,etiqueta_costo
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1.2,NaN,None
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1.2,18.0,Precio accesible

In [34]:
# aplicando lógicas mediante funciones

def incremento_precio_por_pais(row):
    if row.country == 'Italy':
        return row.price *1.2
    elif row.country == 'Peru':
        return row.price * 1.05
    else:
        return row.price


df_rename['price_by_country'] = df_rename.apply(incremento_precio_por_pais, axis='columns')

In [35]:
df_rename[['country', 'price', 'price_by_country']].head(20)

      country  price  price_by_country
0       Italy    NaN               NaN
1    Portugal   15.0              15.0
2          US   14.0              14.0
3          US   13.0              13.0
4          US   65.0              65.0
5       Spain   15.0              15.0
6       Italy   16.0              19.2
7      France   24.0              24.0
8     Germany   12.0              12.0
9      France   27.0              27.0
10         US   19.0              19.0
11     France   30.0              30.0
12         US   34.0              34.0
13      Italy    NaN               NaN
14         US   12.0              12.0
15    Germany   24.0              24.0
16  Argentina   30.0              30.0
17  Argentina   13.0              13.0
18      Spain   28.0              28.0
19         US   32.0              32.0

In [36]:
condition = df_rename.country == 'Peru'
df_rename[condition][['country', 'price', 'price_by_country']].head(20)

      country  price  price_by_country
6565     Peru   14.0             14.70
13090    Peru   15.0             15.75
14727    Peru   10.0             10.50
14732    Peru   10.0             10.50
23537    Peru   17.0             17.85
37948    Peru   68.0             71.40
63521    Peru   20.0             21.00
64672    Peru   10.0             10.50

In [37]:
df_rename.to_excel('./output/wine_review.xlsx', index=False)

https://www.kaggle.com/code/residentmario/indexing-selecting-assigning


https://www.kaggle.com/code/residentmario/summary-functions-and-maps

# Ejercicios
---------------------------------------------

In [41]:
# 

import pandas as pd
pd.set_option('display.max_columns', None)

df = pd.read_excel('./src/reactiva.xlsx',sheet_name='TRANSFERENCIAS 2020')

df.head(2)

,ID,CODIGO PAIS,CODIGO ENTIDAD,UBIGEO,SNIP,CUI,REGION,PROVINCIA,DISTRITO,PROYECTO,DISPOSITIVO LEGAL,AMBITO,UNIDAD EJECUTORA,TOTAL EMPLEOS,POBLACION BENEFICIARIA,TIPOLOGIA,TIPO MONEDA,MONTO DE INVERSIÓN,TIPO MONEDA.1,MONTO DE TRANSFERENCIA 2020,ESTADO
0,1,PE,11476,120127,346548,2307983,JUNIN,HUANCAYO,QUICHUAY,MEJORAMIENTO DE PISTAS Y VEREDAS EN LA CA. LIM...,"DU N° 070-2020,",URBANO,MUNICIPALIDAD DISTRITAL DE QUICHUAY,121,1529,Pista y Vereda,PEN,4105693.00,PEN,4105693,En Ejecución
1,2,PE,11476,90612,213528,2215425,HUANCAVELICA,HUAYTARA,SAN ISIDRO,MEJORAMIENTO VIAL DEL CERCADO DE LA LOCALIDAD ...,"DU N° 070-2020,",RURAL,MUNICIPALIDAD DISTRITAL DE SAN ISIDRO - HUIRPA...,63,648,Pista y Vereda,PEN,2120069.47,PEN,413572,En Ejecución

In [39]:
df.columns

Index(['ID', 'CODIGO PAIS', 'CODIGO ENTIDAD', 'UBIGEO', 'SNIP', 'CUI',
       'REGION', 'PROVINCIA', 'DISTRITO', 'PROYECTO', 'DISPOSITIVO LEGAL',
       'AMBITO', 'UNIDAD EJECUTORA', 'TOTAL EMPLEOS', 'POBLACION BENEFICIARIA',
       'TIPOLOGIA', 'TIPO MONEDA', 'MONTO DE INVERSIÓN', 'TIPO MONEDA.1',
       'MONTO DE TRANSFERENCIA 2020', 'ESTADO'],
      dtype='object')

In [40]:
df.dtypes

ID                               int64
CODIGO PAIS                     object
CODIGO ENTIDAD                   int64
UBIGEO                           int64
SNIP                             int64
CUI                              int64
REGION                          object
PROVINCIA                       object
DISTRITO                        object
PROYECTO                        object
DISPOSITIVO LEGAL               object
AMBITO                          object
UNIDAD EJECUTORA                object
TOTAL EMPLEOS                    int64
POBLACION BENEFICIARIA           int64
TIPOLOGIA                       object
TIPO MONEDA                     object
MONTO DE INVERSIÓN             float64
TIPO MONEDA.1                   object
MONTO DE TRANSFERENCIA 2020      int64
ESTADO                          object
dtype: object

In [42]:
# renombrar columnas clave
rename_dicx = {'CODIGO PAIS':'CODIGO_PAIS',
                                   'MONTO DE TRANSFERENCIA 2020':'MONTO_TRANSFERENCIA_2020',
                                 'MONTO DE INVERSIÓN':'MONTO_INVERSION'  }
df.rename(columns=rename_dicx, inplace=True)

df.head(2)
# Para la proviancia HUANCAYO , que tipo de obras se han realizado sobre la provincia y cual ha sido el monto de inversión maximo

,ID,CODIGO_PAIS,CODIGO ENTIDAD,UBIGEO,SNIP,CUI,REGION,PROVINCIA,DISTRITO,PROYECTO,DISPOSITIVO LEGAL,AMBITO,UNIDAD EJECUTORA,TOTAL EMPLEOS,POBLACION BENEFICIARIA,TIPOLOGIA,TIPO MONEDA,MONTO_INVERSION,TIPO MONEDA.1,MONTO_TRANSFERENCIA_2020,ESTADO
0,1,PE,11476,120127,346548,2307983,JUNIN,HUANCAYO,QUICHUAY,MEJORAMIENTO DE PISTAS Y VEREDAS EN LA CA. LIM...,"DU N° 070-2020,",URBANO,MUNICIPALIDAD DISTRITAL DE QUICHUAY,121,1529,Pista y Vereda,PEN,4105693.00,PEN,4105693,En Ejecución
1,2,PE,11476,90612,213528,2215425,HUANCAVELICA,HUAYTARA,SAN ISIDRO,MEJORAMIENTO VIAL DEL CERCADO DE LA LOCALIDAD ...,"DU N° 070-2020,",RURAL,MUNICIPALIDAD DISTRITAL DE SAN ISIDRO - HUIRPA...,63,648,Pista y Vereda,PEN,2120069.47,PEN,413572,En Ejecución

In [45]:
df_filter = df[df['PROVINCIA']=='HUANCAYO']
df_filter.head()

,ID,CODIGO_PAIS,CODIGO ENTIDAD,UBIGEO,SNIP,CUI,REGION,PROVINCIA,DISTRITO,PROYECTO,DISPOSITIVO LEGAL,AMBITO,UNIDAD EJECUTORA,TOTAL EMPLEOS,POBLACION BENEFICIARIA,TIPOLOGIA,TIPO MONEDA,MONTO_INVERSION,TIPO MONEDA.1,MONTO_TRANSFERENCIA_2020,ESTADO
0,1,PE,11476,120127,346548,2307983,JUNIN,HUANCAYO,QUICHUAY,MEJORAMIENTO DE PISTAS Y VEREDAS EN LA CA. LIM...,"DU N° 070-2020,",URBANO,MUNICIPALIDAD DISTRITAL DE QUICHUAY,121,1529,Pista y Vereda,PEN,4105693.00,PEN,4105693,En Ejecución
162,163,PE,11476,120125,215255,2157560,JUNIN,HUANCAYO,PILCOMAYO,MEJORAMIENTO VIAL DE LA AV. LEONCIO PRADO TRAM...,"DU N° 070-2020,",URBANO,MUNICIPALIDAD DISTRITAL DE PILCOMAYO,196,700,Pista y Vereda,PEN,6701466.11,PEN,3998139,En Ejecución
192,193,PE,11476,120116,2442321,2442321,JUNIN,HUANCAYO,HUACRAPUQUIO,CREACION DE LOSA DEPORTIVA BARRIO LA BREÑA DEL...,"DU N° 070-2020,",URBANO,MUNICIPALIDAD DISTRITAL DE HUACRAPUQUIO,16,253,Equipamiento Urbano,PEN,524289.77,PEN,489731,Concluido
194,195,PE,11476,120116,2442560,2442560,JUNIN,HUANCAYO,HUACRAPUQUIO,MEJORAMIENTO DE LA TRANSITABILIDAD VEHICULAR Y...,"DU N° 070-2020,",URBANO,MUNICIPALIDAD DISTRITAL DE HUACRAPUQUIO,165,466,Pista y Vereda,PEN,5657312.31,PEN,5505675,En Ejecución
228,229,PE,11476,120107,2452577,2452577,JUNIN,HUANCAYO,CHILCA,CREACION DE LOSA DE RECREACIÓN MULTIUSOS EN EL...,"DU N° 070-2020,",URBANO,MUNICIPALIDAD DISTRITAL DE CHILCA,18,6053,Equipamiento Urbano,PEN,594687.77,PEN,479207,Concluido

In [44]:
df_filter['TIPOLOGIA'].unique()

array(['Pista y Vereda', 'Equipamiento Urbano'], dtype=object)

In [46]:
df_filter['MONTO_INVERSION'].describe()

count    1.000000e+01
mean     3.918919e+06
std      3.621938e+06
min      5.242898e+05
25%      6.840281e+05
50%      2.773528e+06
75%      6.440428e+06
max      9.515369e+06
Name: MONTO_INVERSION, dtype: float64

In [47]:
df_filter['MONTO_INVERSION'].max()

9515369.44